@import "~scss/variables";

.sw-product-properties {
    &__card.mt-card .mt-card__content {
        padding: 0;
    }

    &__card.is--disabled .mt-card__content {
        &::after {
            content: "";
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: var(--color-background-primary-disabled);
            mix-blend-mode: multiply;
        }

        .sw-data-grid {
            border-bottom-left-radius: $border-radius-lg;
            border-bottom-right-radius: $border-radius-lg;
        }
    }

    &__button-add-property {
        width: 100%;
    }

    .sw-empty-state {
        padding: 30px;
    }
}
