{% block sw_gtc_checkbox %}
<div class="sw-gtc-checkbox">
    {% block sw_gtc_checkbox_input %}
    <mt-checkbox
        :checked="value"
        :label="$tc('global.sw-gtc-checkbox.url')"
        @update:checked="onChange"
    />
    {% endblock %}
</div>
{% endblock %}
