.sw-customer-detail-addresses {
    .sw-customer-detail-addresses__confirm-delete-text {
        margin-bottom: 10px;
    }

    .sw-field--radio .sw-field__radio-option {
        margin-bottom: 0;
        width: 16px;
    }

    .mt-card__toolbar {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}

.sw-customer-detail-addresses__confirm-delete-address {
    margin: 15px;
}
