.sw-first-run-wizard-mailer-local {
    h2 {
        margin-bottom: var(--scale-size-8);
        font-size: var(--font-size-s);
        line-height: var(--font-line-height-s);
        font-weight: var(--font-weight-medium);
        color: var(--color-text-primary-default);
    }
}
