.sw-sidebar-item {
    width: 25rem;
    height: 100%;
    display: grid;
    grid-template-rows: var(--scale-size-64) 1fr;
    border-left: 1px solid var(--color-border-primary-default);
    overflow: hidden;

    &__headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--scale-size-12);
        margin: var(--scale-size-12);
    }

    &__title {
        margin: 0;
        font-family: var(--font-family-headings);
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-m);
        color: var(--color-text-primary-default);
    }

    &__close-button {
        color: var(--color-icon-primary-default);
        height: var(--scale-size-32);
        width: var(--scale-size-32);
        border-radius: var(--border-radius-button);
        transition: background-color 0.15s ease-out;
        justify-self: end;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover,
        &:focus-visible {
            background-color: var(--color-interaction-secondary-hover);
        }

        &:focus-visible {
            outline: var(--scale-size-2) solid var(--color-border-brand-selected);
            outline-offset: var(--scale-size-2);
        }
    }

    &__content {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__scrollable-container {
        position: absolute;
        width: 25rem;
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}
