.sw-language-switch {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    text-align: left;
    margin-right: 8px;

    .sw-select {
        &.sw-language-switch__select {
            margin-bottom: 0;
        }

        .sw-block-field__block {
            height: auto;
        }
    }
}
