.sw-first-run-wizard-mailer-smtp {
    width: 100%;

    h2 {
        font-size: var(--font-size-s);
        line-height: var(--line-height-s);
        font-weight: var(--font-weight-medium);
        color: var(--color-text-primary-default);
    }
}
