.sw-first-run-wizard-mailer-selection {
    display: flex;
    position: relative;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    .sw-first-run-wizard-mailer-selection__illustration {
        margin-bottom: var(--scale-size-24);
        width: var(--scale-size-160);
    }

    .sw-first-run-wizard-mailer-selection__headline {
        margin-top: var(--scale-size-12);
        margin-bottom: var(--scale-size-8);
        font-size: var(--font-size-s);
        line-height: var(--font-line-height-s);
        font-weight: var(--font-weight-medium);
        color: var(--color-text-primary-default);
    }

    .sw-first-run-wizard-mailer-selection__subline {
        margin-top: var(--scale-size-12);
    }

    .sw-first-run-wizard-mailer-selection__subline,
    .sw-first-run-wizard-mailer-selection__description {
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        font-weight: var(--font-weight-regular);
        color: var(--color-text-primary-default);
    }

    .sw-first-run-wizard-mailer-selection__text-light {
        font-size: var(--font-size-xs);
        color: var(--color-text-secondary-default);
    }

    .sw-first-run-wizard-mailer-selection__note {
        margin-top: var(--scale-size-24);
    }

    .sw-first-run-wizard-mailer-selection__help-text {
        position: absolute;
        top: var(--scale-size-8);
        right: var(--scale-size-8);
    }

    .sw-first-run-wizard-mailer-selection__selections {
        display: flex;
        margin-top: var(--scale-size-24);
        justify-content: center;
    }

    .sw-first-run-wizard-mailer-selection__selection {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s border-color ease;
        width: var(--scale-size-192);
        padding: var(--scale-size-18) var(--scale-size-12);
        margin: 0 var(--scale-size-24);
        border: 1px solid var(--color-border-primary-default);
        border-radius: var(--border-radius-xs);

        .sw-first-run-wizard-mailer-selection__selection-icon {
            margin-bottom: var(--scale-size-4);
        }

        p {
            font-size: var(--font-size-xs);
            line-height: var(--line-height-xs);
            color: var(--color-text-primary-default);
            transition: 0.3s color ease;
        }

        &:hover,
        &.is--selected {
            cursor: pointer;
            border-color: var(--color-interaction-primary-hover);
            color: var(--color-interaction-primary-hover);

            p,
            .sw-first-run-wizard-mailer-selection__text-light {
                color: var(--color-interaction-primary-hover);
            }
        }
    }
}
