.sw-newsletter-recipient-list {
    .sw-page__smart-bar-amount {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-semibold);
    }

    &__content {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .sw-collapse__content {
        padding: 0 var(--scale-size-24);
    }
}
