.sw-mail-header-footer-detail {
    &__code-editor--header-html,
    &__code-editor--footer-html,
    &__sales-channel {
        margin-bottom: 0;

        .sw-field {
            margin-bottom: 0;
        }
    }

    &__sales-channel-list {
        margin-top: var(--scale-size-10);

        &-label {
            margin-top: var(--scale-size-20);
            margin-bottom: var(--scale-size-4);
        }
    }

    &__sales-channel-list-entry {
        margin-bottom: var(--scale-size-2);
        font-weight: var(--font-weight-semibold);
    }
}
