.sw-rule-modal {
    .sw-modal__dialog {
        min-height: 700px;

        .sw-modal__body {
            .sw-condition-tree > .sw-condition-or-container > .sw-condition-or-container__condition-content {
                padding: 0;
            }
        }
    }
}
