{% block sw_first_run_wizard_shopware_account %}
<div class="sw-first-run-wizard-shopware-account">
    <sw-container columns="1fr 1fr">
        <img
            class="sw-first-run-wizard-shopware-account__illustration"
            :src="assetFilter('/administration/administration/static/img/first-run-wizard/shopware-account.svg')"
            alt=""
        >

        <div>
            <div
                v-if="accountError"
                class="sw-first-run-wizard-shopware-account__error"
            >
                <mt-banner
                    :title="$tc('global.default.error')"
                    variant="critical"
                >
                    {{ $tc('sw-first-run-wizard.error.messageLoginDataInvalid') }}
                </mt-banner>
            </div>

            <h5 class="headline">
                {{ $tc('sw-first-run-wizard.shopwareAccount.headline') }}
            </h5>

            <p
                class="message"
                v-html="$tc('sw-first-run-wizard.shopwareAccount.message')"
            ></p>

            <p class="create-account">
                <span>{{ $tc('sw-first-run-wizard.shopwareAccount.registerAccountText') }}</span>

                <mt-link
                    class="external-link"
                    :to="$tc('sw-first-run-wizard.shopwareAccount.registerAccountUrl')"
                    variant="primary"
                    type="external"
                    target="_blank"
                >
                    {{ $tc('sw-first-run-wizard.shopwareAccount.registerAccountHere') }}
                </mt-link>
            </p>

            <div class="input-field-mail">
                <mt-text-field
                    v-model="shopwareId"
                    name="shopwareId"
                    validation="required"
                    :label="$tc('sw-first-run-wizard.shopwareAccount.emailAddressLabel')"
                    :placeholder="$tc('sw-first-run-wizard.shopwareAccount.emailAddressPlaceholder')"
                />
            </div>

            <div class="input-field-password">
                <mt-password-field
                    v-model="password"
                    :label="$tc('sw-first-run-wizard.shopwareAccount.passwordLabel')"
                    :placeholder="$tc('sw-first-run-wizard.shopwareAccount.passwordPlaceholder')"
                />
            </div>

            <p class="forgot-password">
                <mt-link
                    class="external-link"
                    :to="$tc('sw-first-run-wizard.shopwareAccount.forgotPasswordUrl')"
                    variant="primary"
                    type="external"
                    target="_blank"
                >
                    {{ $tc('sw-first-run-wizard.shopwareAccount.forgotPasswordText') }}
                </mt-link>
            </p>
        </div>
    </sw-container>
</div>
{% endblock %}
