.sw-first-run-wizard-shopware-account {
    align-self: center;

    &__illustration {
        height: var(--scale-size-256);
        margin-top: var(--scale-size-48);
    }

    &__error {
        margin-top: var(--scale-size-24);
    }

    .headline {
        font-size: var(--font-size-s);
        line-height: var(--font-line-height-s);
        font-weight: var(--font-weight-medium);
        color: var(--color-text-primary-default);
        margin-bottom: var(--scale-size-8);
    }

    .message {
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        font-weight: var(--font-weight-regular);
        color: var(--color-text-primary-default);
    }

    .create-account {
        margin-top: var(--scale-size-6);
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        font-weight: var(--font-weight-regular);
        color: var(--color-text-primary-default);
    }

    .input-field-mail {
        margin-top: var(--scale-size-24);
    }

    .input-field-password {
        .mt-password-field {
            margin-bottom: var(--scale-size-8);
        }
    }

    .forgot-password {
        text-align: right;
    }
}
