@import "~scss/variables";

.sw-app-app-url-changed-modal {
    font-size: var(--font-size-xs);

    b {
        font-weight: var(--font-weight-semi-bold);
    }

    .sw-app-app-url-changed-modal__content-description {
        margin-bottom: 1rem;

        .sw-app-app-url-changed-modal__content-description-change {
            margin-bottom: 1rem;

            span b {
                font-weight: var(--font-weight-semi-bold);
            }
        }
    }

    .sw-app-app-url-changed-modal__content-choices {
        .mt-button {
            width: 100%;
            place-items: stretch;
        }

        .sw-app-app-url-changed-modal__content-migration-strategy {
            display: grid;
            grid-template-columns: 1rem 1fr;
            grid-column-gap: 1rem;
            justify-self: stretch;
            justify-items: start;
            line-height: var(--font-line-height-2xs);
            padding: 1rem;

            .mt-icon {
                grid-column: 1;
                grid-row: 1;
            }

            .sw-app-app-url-changed-modal__content-choices-label {
                grid-column: 2;
                grid-row: 1;
                text-align: left;
                font-size: var(--font-size-s);
            }

            .sw-app-app-url-changed-modal__content-choices-description {
                grid-column: 2;
                grid-row: 2;
                white-space: normal;
                text-align: left;
                font-weight: var(--font-weight-regular);
                font-size: var(--font-size-xs);
            }
        }

        .sw-app-app-url-changed-modal__button-strategy--active {
            background: var(--color-brand-50);
            border-color: var(--color-interaction-primary-default);
        }

        .sw-app-app-url-changed-modal__button-strategy {
            margin-bottom: 1rem;
            padding: 0;
        }
    }
}
