.sw-first-run-wizard-welcome {
    .center {
        text-align: center;
    }

    .headline-welcome {
        margin-top: var(--scale-size-20);
        margin-bottom: var(--scale-size-8);
        font-family: var(--font-family-headings);
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-medium);
        line-height: var(--font-line-height-3xl);
        color: var(--color-text-primary-default);
        text-align: center;
    }

    .text-welcome {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        margin: 0 auto var(--scale-size-30);
        width: 34.5rem;
        text-align: center;
    }
}
