.sw-grid-row {
    display: grid;
    grid-auto-flow: column;
    border-bottom: 1px solid var(--color-border-secondary-default);
    position: relative;

    &:nth-child(even) {
        background: var(--color-elevation-surface-default);
    }

    &:last-child {
        border-bottom-color: transparent;
    }

    &:hover {
        background: var(--color-interaction-secondary-hover);

        .sw-grid__cell-content a {
            color: var(--color-text-brand-default);
        }
    }

    &.is--selected {
        background: var(--color-background-brand-default);
    }

    &.is--inline-editing {
        background: var(--color-background-brand-default);
        border-bottom: 1px solid var(--color-border-brand-default);

        .sw-grid__cell-content {
            display: none;
        }

        .sw-grid-column {
            border-right-color: rgba(0, 0, 0, 5%);
        }

        .sw-grid__cell-inline-editing {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            justify-items: stretch;
            justify-content: stretch;
            grid-gap: var(--scale-size-10);
            height: 100%;
            line-height: var(--font-line-height-xs);
            padding: var(--scale-size-10);
            text-align: center;
        }

        .sw-grid-row__actions {
            display: block;
        }
    }

    .sw-grid__cell-inline-editing {
        display: none;
    }

    .sw-grid-row__actions {
        display: none;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 0);
        z-index: 10;
        padding: var(--scale-size-10) var(--scale-size-14);
        background: var(--color-background-brand-default);
        border: 1px solid var(--color-border-brand-default);
        border-top: 0 none;
        border-radius: 0 0 var(--border-radius-xs) var(--border-radius-xs);
    }
}
