@import "~scss/variables";

.sw-category-layout-card {
    .sw-category-layout-card__base-layout {
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 32px;

        .sw-cms-list-item {
            width: 250px;
        }
    }

    .sw-category-layout-card__desc {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: auto 0;

        .sw-category-layout-card__desc-headline {
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-xs;
        }

        .sw-category-layout-card__desc-subheadline {
            font-size: $font-size-xs;
        }

        .sw-category-layout-card__desc-headline.is--empty,
        .sw-category-layout-card__desc-subheadline.is--empty {
            color: $color-gray-500;
        }

        .sw-category-layout-card__desc-actions {
            .sw-context-button {
                height: 32px;
                border-radius: $border-radius-default;
                border: 1px solid $color-gray-500;
                background-color: $color-white;

                .sw-context-button__button {
                    border: none;
                }
            }
        }

        .sw-category-layout-card__desc-link {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $color-shopware-brand-500;
            text-decoration: none;
            font-size: $font-size-xs;
            margin-top: 8px;

            .mt-icon {
                margin-left: 8px;
            }
        }
    }
}
