@import "~scss/mixins";

.sw-data-grid {
    overflow: hidden;
    background-color: var(--color-elevation-surface-default);

    &.sw-data-grid--full-page {
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    .sw-data-grid__wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        overflow-y: auto;
    }

    .sw-data-grid__table {
        border-collapse: collapse;
        width: 100%;
    }

    .sw-data-grid__cell {
        padding: 0;
        margin: 0;
        font-size: var(--font-size-xs);
        color: var(--color-text-primary-default);
        border-right: 1px solid var(--color-border-primary-default);
        overflow: hidden;
        background-color: var(--color-elevation-surface-default);

        &:last-child {
            border-right: 0 none;
        }
    }

    &.sw-data-grid--actions .sw-data-grid__cell {
        border-right: 1px solid var(--color-border-primary-default);

        &:last-child,
        &:nth-last-child(2) {
            border-right: 0 none;
        }
    }

    .sw-data-grid__cell-content {
        @include truncate;

        min-width: 0;
        padding: var(--scale-size-20);
        height: var(--scale-size-64);
        font-size: var(--font-size-xs);
        line-height: var(--font-size-xs);
        display: flex;
        align-items: center;

        .sw-field,
        .sw-field.sw-field--small {
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: var(--scale-size-8);
            }
        }

        .sw-field.sw-field--checkbox,
        .sw-field.sw-field--radio,
        .sw-field--checkbox,
        .mt-field--checkbox,
        .mt-switch,
        .sw-field--radio {
            display: block;
            margin-bottom: 0;
            width: auto;
        }

        .sw-label {
            margin-bottom: 0;
        }

        .sw-select {
            flex-shrink: 0;
            width: 100%;
        }

        a {
            color: var(--color-text-primary-default);
            text-decoration: none;

            &:focus-visible {
                outline: var(--scale-size-2) solid var(--color-border-brand-selected);
                outline-offset: var(--scale-size-2);
                border-radius: var(--border-radius-2xs);
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .mt-icon,
        .sw-color-badge {
            flex-shrink: 0;
        }
    }

    .sw-data-grid__cell-value {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sw-data-grid__cell--align-right {
        .sw-data-grid__cell-content {
            justify-content: flex-end;
        }

        .sw-data-grid-inline-edit {
            justify-content: flex-end;
        }
    }

    .sw-data-grid__cell--align-right.sw-data-grid__cell--header {
        .sw-data-grid__cell-content {
            flex-flow: row-reverse;
            justify-content: flex-start;
        }
    }

    .sw-data-grid__cell--align-left {
        .sw-data-grid__cell-content {
            justify-content: flex-start;
        }

        .sw-data-grid-inline-edit {
            justify-content: flex-start;
        }
    }

    .sw-data-grid__cell--align-center,
    .sw-data-grid__cell--icon-label {
        .sw-data-grid__cell-content {
            justify-content: center;
        }

        .sw-data-grid-inline-edit {
            justify-content: center;
        }
    }

    .sw-data-grid__cell-resize {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 100%;
        background-color: var(--color-border-primary-default);
        cursor: ew-resize;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        &.is--column-resizing {
            background-color: var(--color-border-brand-selected);
        }
    }

    .sw-data-grid__action-edit-column {
        margin-left: 5px;

        .mt-icon {
            color: var(--color-icon-secondary-default);
        }
    }

    .sw-data-grid__header {
        &:hover {
            .sw-data-grid__cell-resize {
                opacity: 1;
                width: 4px;
            }
        }
    }

    .sw-data-grid__cell--header {
        position: sticky;
        top: 0;
        background-clip: padding-box;
        box-shadow: inset 0 -1px 0 var(--color-border-primary-default);
        background-color: var(--color-elevation-surface-default);
        z-index: 6;
        overflow: visible;

        &.sw-data-grid__cell--selection {
            z-index: 7;
            box-shadow: inset -1px -1px 0 0 var(--color-border-primary-default);
        }

        .sw-data-grid__cell-content {
            position: relative;
            overflow: hidden;
        }
    }

    .sw-data-grid__cell--sortable:hover {
        cursor: pointer;
        background-color: var(--color-interaction-secondary-hover);
    }

    .sw-data-grid__cell--property {
        .sw-data-grid__sort-indicator {
            margin-left: auto;

            .mt-icon {
                padding: 4px;
            }
        }

        &.is--column-resizing {
            background-color: var(--color-background-brand-default);
        }

        &:hover {
            .sw-data-grid__action-edit-column .mt-icon {
                color: var(--color-icon-primary-default);
            }
        }
    }

    &.is--resizing .sw-data-grid__cell--property {
        cursor: ew-resize;
        user-select: none;
    }

    .sw-data-grid__cell--selection {
        position: sticky;
        left: 0;
        width: 88px;
        min-width: 88px;
        max-width: 88px;
        border-right: 0;
        box-shadow: inset -1px 0 0 var(--color-border-primary-default);
        overflow: visible;
        z-index: 5;

        &.sw-data-grid__cell:nth-child(1) {
            border-right: 0;
        }

        .sw-field--checkbox {
            margin-bottom: 0;
        }

        .sw-data-grid__cell-content {
            justify-content: center;
        }
    }

    .sw-data-grid__bulk {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        color: var(--color-text-primary-default);
        background: var(--color-elevation-surface-default);
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        left: 0;
        right: 0;
        height: var(--scale-size-64);
        z-index: 7;
        border-bottom: 1px inset var(--color-border-primary-default);
        padding: 20px 12px 20px 100px;
    }

    &.sw-data-grid--actions {
        .sw-data-grid__bulk {
            right: 88px;
        }
    }

    .sw-data-grid__bulk-selected {
        margin: 12px;

        &.sw-data-grid__bulk-selected-label {
            font-weight: bold;
        }

        &.sw-data-grid__bulk-selected-count {
            text-align: right;
        }

        &.sw-data-grid__bulk-max-selection {
            color: var(--color-text-critical-default);
        }
    }

    .sw-data-grid__body .sw-data-grid__row {
        &:nth-child(even) .sw-data-grid__cell {
            background-color: var(--color-elevation-surface-sunken);
        }

        &:hover .sw-data-grid__cell {
            background-color: var(--color-background-brand-default);

            a {
                color: var(--color-text-brand-default);
            }
        }

        &.is--inline-edit {
            .sw-data-grid__cell {
                background-color: var(--color-background-brand-default);
                border-top: 1px solid var(--color-border-brand-selected);
                border-bottom: 1px solid var(--color-border-brand-selected);
            }

            .sw-data-grid__cell-content {
                padding: 10px;
                color: var(--color-text-secondary-default);

                .mt-field {
                    margin-bottom: 0;
                }
            }

            .sw-data-grid__cell-value {
                display: inline-block;
                margin: 0 10px;
                color: var(--color-text-secondary-default);
                user-select: none;
                cursor: default;
            }
        }

        &.is--selected {
            .sw-data-grid__cell {
                background-color: var(--color-background-brand-default);
            }
        }

        &.is--clickable {
            cursor: pointer;

            .sw-data-grid__cell--actions,
            .sw-data-grid__cell--selection {
                cursor: default;
            }
        }
    }

    .sw-data-grid__cell--actions {
        position: sticky;
        right: 0;
        width: 88px;
        min-width: 88px;
        max-width: 88px;
        box-shadow: inset 1px 0 0 var(--color-border-primary-default);
        overflow: visible;
        z-index: 4;

        &.is--loading {
            position: initial;
        }

        .sw-data-grid__cell-content {
            justify-content: center;
        }

        .mt-button + .mt-button {
            margin-left: 5px;
        }
    }

    .bulk-link .link {
        display: inline-block;
        position: relative;
        margin: 0;
        line-height: var(--font-line-height-xs);
        font-size: var(--font-size-xs);
        padding: 0 var(--scale-size-12);
        text-decoration: none;
        color: var(--color-text-primary-default);
        cursor: pointer;
        border-radius: var(--border-radius-xs);

        &:focus-visible {
            outline: var(--scale-size-2) solid var(--color-border-brand-selected);
            outline-offset: var(--scale-size-2);
        }

        &:hover,
        &:focus-visible {
            text-decoration: underline;
        }

        &.link-danger {
            color: var(--color-text-critical-default);
        }

        &.link-warning {
            color: var(--color-text-attention-default);
        }

        &.link-primary {
            color: var(--color-text-brand-default);
        }
    }

    .sw-media-preview-v2,
    .sw-media-preview {
        position: relative;
        width: 48px;
        height: 48px;
        border: 1px solid var(--color-border-primary-default);
        border-radius: var(--border-radius-xs);
        background-color: var(--color-background-primary-default);
        margin-right: 15px;
        flex-shrink: 0;

        .sw-media-preview-v2__item,
        .sw-media-preview__item {
            max-width: calc(100% - 5px);
            max-height: calc(100% - 5px);

            &.mt-icon {
                width: 100%;
                height: 100%;
            }
        }
    }

    .sw-avatar {
        margin-right: 15px;
        flex-shrink: 0;
    }

    .sw-data-grid__cell-settings {
        box-shadow: inset 1px -1px 0 var(--color-border-primary-default);
        z-index: 7;
    }

    &.is--scroll-x {
        .sw-data-grid__cell--actions::before {
            pointer-events: none;
            width: 8px;
            display: block;
            content: "";
            background: linear-gradient(to right, transparent, rgba(0, 0, 0, 10%));
            position: absolute;
            top: 0;
            bottom: 0;
            left: -8px;
        }

        .sw-data-grid__cell--selection::before {
            pointer-events: none;
            width: 8px;
            display: block;
            content: "";
            background: linear-gradient(to left, transparent, rgba(0, 0, 0, 10%));
            position: absolute;
            top: 0;
            bottom: 0;
            right: -8px;
        }

        &.sw-data-grid__cell--header::before {
            background: none;
            border-right: none;
            box-shadow: none;
        }

        .sw-data-grid__cell--selection {
            border-right: 0;
        }
    }

    &.is--compact {
        .sw-data-grid__body .sw-data-grid__cell-content {
            padding: 10px 20px;
            height: 42px;
        }

        .sw-media-preview-v2 {
            width: 32px;
            height: 32px;
        }

        .is--inline-edit .sw-data-grid__cell-content {
            .mt-block-field__block {
                min-height: var(--scale-size-32);
            }
        }
    }

    .sw-data-grid__body .sw-data-grid__cell--multi-line {
        .sw-data-grid__cell-content {
            display: block;
            height: auto;
            white-space: normal;
        }
    }

    .sort-indicator-enter-active,
    .sort-indicator-leave-active {
        transition: all 0.1s ease-in-out;
        transform: translateY(0);
        opacity: 1;
    }

    .sort-indicator-enter,
    .sort-indicator-leave-to {
        transform: translateY(10px);
        opacity: 0;
    }

    &__cell {
        .mt-number-field {
            margin-bottom: 0;

            &--size-small {
                height: 25px;
            }

            &__controls {
                display: none;
            }
        }
    }
}

.sw-data-grid.sw-data-grid--plain-appearance {
    .sw-data-grid__body {
        .sw-data-grid__row {
            &:nth-child(even) .sw-data-grid__cell {
                background-color: var(--color-elevation-surface-default);
            }

            &.is--inline-edit .sw-data-grid__cell,
            &.is--selected .sw-data-grid__cell {
                background-color: var(--color-background-brand-default);
            }

            &:last-child {
                .sw-data-grid__cell {
                    border-bottom: 0 none;
                }
            }
        }

        .sw-data-grid__cell--actions,
        .sw-data-grid__cell--selection {
            box-shadow: none;
        }

        .sw-data-grid__cell {
            border-right: 0 none;
            border-bottom: 1px solid var(--color-border-primary-default);
        }
    }

    .sw-data-grid__cell--header {
        border-right: 0 none;
    }

    .sw-data-grid__cell--header.sw-data-grid__cell--selection {
        box-shadow: inset 0 -1px 0 0 var(--color-border-primary-default);
    }

    .sw-data-grid__cell-settings {
        box-shadow: inset 0 -1px 0 var(--color-border-primary-default);
    }
}
