name: Downstream

on:
  pull_request:
  merge_group:
  workflow_dispatch:
    inputs:
      nightly:
        default: ""
  workflow_call:
    inputs:
      nightly:
        type: string
        default: ""

permissions:
  contents: read
  id-token: write

jobs:
  rufus:
    name: Rufus
    runs-on: ubuntu-24.04
    if: ${{ !github.event.pull_request && github.event_name != 'merge_group'}}
    steps:
      - id: sts
        continue-on-error: true
        uses: octo-sts/action@v1.0.0
        with:
          scope: shopware
          identity: ShopwareDownstream
      - name: Rufus
        uses: shopware/github-actions/downstream@main
        if: steps.sts.outputs.token
        with:
          repo: shopware/rufus
          workflow: Downstream
          ref: .auto
          timeout: 30m
          token: ${{ steps.sts.outputs.token }}
          env:
            NIGHTLY=${{ inputs.nightly }}
  
  commercial:
    name: Commercial
    runs-on: ubuntu-24.04
    steps:
      - id: sts
        continue-on-error: true
        uses: octo-sts/action@v1.0.0
        with:
          scope: shopware
          identity: ShopwareDownstream
      - name: Commercial
        uses: shopware/github-actions/downstream@main
        if: steps.sts.outputs.token
        with:
          repo: shopware/SwagCommercial
          workflow: Downstream
          ref: .auto
          timeout: 60m
          token: ${{ steps.sts.outputs.token }}
          env:
            NIGHTLY=${{ inputs.nightly }}

  downstream-check:
    if: always()
    needs:
    # fix with shopware/shopware#6556
    # - rufus
    - commercial

    runs-on: Ubuntu-latest
    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        allowed-skips: rufus, commercial
        jobs: ${{ toJSON(needs) }}