name: Manage stale pull requests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *" # Every day at 12:00 UTC

jobs:
  manage-stale-prs:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 4
      - id: sts
        if: ${{ !github.event.act }}
        continue-on-error: true
        uses: shopware/octo-sts-action@main
        with:
          scope: shopware
          identity: Reminder
      - shell: bash
        run: npm ci --prefix .github/bin/js/
      - uses: actions/github-script@5c56fde4671bc2d3592fb0f2c5b5bab9ddae03b1 # 7
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN_PRODUCT_NOTIFICATIONS }}
          STALE_PR_THRESHOLD_DAYS: ${{ vars.STALE_PR_THRESHOLD_DAYS }}
          STALE_PR_CLOSE: ${{ vars.STALE_PR_CLOSE }}
          DRY_RUN: ${{ vars.STALE_PR_DRY_RUN || 'true' }}
        with:
          github-token: ${{ github.event.act && secrets.GITHUB_TOKEN || steps.sts.outputs.token }}
          script: |
            const { manageOldPullRequests } = await import('${{ github.workspace }}/.github/bin/js/node_modules/@shopware-ag/gh-project-automation/dist/index.mjs')
            await manageOldPullRequests({github, core, context, fetch}, "shopware", parseInt(process.env.STALE_PR_THRESHOLD_DAYS), process.env.STALE_PR_CLOSE === "true")
